<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>単語帳</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="/static/bower_components/angular-xeditable/dist/css/xeditable.css" />
    <script src="/static/bower_components/angular/angular.min.js"></script>
	<script src="/static/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="/static/bower_components/autoheight/src/angular-autoheight.js"></script>
    <script type="text/javascript">
angular.module('myApp', [
    'xeditable',
    'autoheight'
])
.run(function(editableOptions, editableThemes) {
    editableThemes.bs3.inputClass = 'input-sm';
    editableThemes.bs3.buttonsClass = 'btn-sm';
    editableOptions.theme = 'bs3';
})
.controller("XdictController", function($scope, $http, $timeout) {
    $scope.f = function(i) {
        return $scope.words.findIndex(function(e) { return e.id == i});
    };

	$scope.go = function(api, n) {
        if (!n) {
            $scope.api = api;
        }
		$http.get(api).then(function(response) {
			$scope.words = response.data;
		});
	};
	$scope.go('/api/list');

    var timer = null;
    $scope.$watch("search", function(nv, ov) {
        $timeout.cancel(timer);
        timer = $timeout(function() {
            $timeout.cancel(timer);
            if (nv === ov) return;
            if (nv == '') {
                $scope.go($scope.api);
            } else {
				$scope.go('/api/search?k='+nv, 1);
            }
        }, 300);
    });

	$scope.add = function() {
		$scope.inserted = {id: -1, word: '', phonetic: '', meaning: '', hits: 1};
		$scope.words.unshift($scope.inserted);
	};

    $scope.cancel = function(form, i) {
        if (i == 0 && $scope.words[i].id == -1) {
            $scope.words.splice(i, 1);
        }
        form.$cancel();
    }

    $scope.keypress = function(e, form) {
        if (e.which == 13 && !e.shiftKey) {
            form.$submit();
        }
    }

    $scope.update = function(data, id) {
        return $http.post('/api/update', {id: id, word: data.word, meaning: data.meaning, phonetic: data.phonetic}).then(function(r) {
            if (id == -1) {
                var i = $scope.f(id);
                if (i != -1) $scope.words[i].id = r.data;
            }
        });
    }

    $scope.upload = function(id) {
        var url = prompt("画像のURLまたはコピーした画像を入力してください");
        if (url != null) $http.post("/api/upload", {id: id, url: url}).then(function(r) {
            var i = $scope.f(id);
            if (i != -1) $scope.words[i].img = url ? 1 : 0;
        });
    }

    $scope.delete = function(id) {
        if (!confirm("削除することを確認しますか？")) return;

        $http.get('/api/delete?id=' + id).then(function(response) {
            var i = $scope.f(id);
            if (i != -1) $scope.words.splice(i, 1);
        });
    };

    $scope.info = function() {
        $http.get('/api/info').then(function(response) {
            var d = response.data;
            var detail = response.data.r2c.map(function(e) {return e.recites + " |" + '|'.repeat(e.count/100) + ' ' + e.count}).join("\n");
            alert("合計: " + d.total + ", 覚えた: " + d.graduated + ", 学習中: " + (d.total-d.graduated) + ", 新規: " + d.new + ", 非英語:" + d.other + "\n==========\n" + detail);
        });
    }
})
    </script>
    <style type="text/css">
form[editable-form] > div {margin: 10px 0;}
.editable-wrap {
    width: 100%;
}
body {
    font-family: "-apple-system", BlinkMacSystemFont, "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "メイリオ", "Hiragino Kaku Gothic ProN", "MS PGothic", Osaka, "sans-serif";
}
    </style>
  </head>
  <body ng-app="myApp">
    <div class="container" style="width: 80%" ng-controller="XdictController">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">単語帳</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ng-class="{active: api == '/api/list'}"><a href="#" ng-click="go('/api/list')">学習中</a></li>
              <li ng-class="{active: api == '/api/review'}"><a href="#" ng-click="go('/api/review')">復習</a></li>
              <li><a href="#" ng-click="info()">統計情報</a></li>
            </ul>
            <div class="col-sm-3 col-md-3 navbar-right">
              <form class="navbar-form" role="search">
                  <input type="text" class="form-control" placeholder="検索" ng-model="search">
              </form>
            </div>
          </div>
        </div>
      </nav>

      <div id="content">
		<div>
 		  <button class="btn btn-default" ng-click="add()"><span class="glyphicon glyphicon-plus"></span> 追加</button> 
		  <span class="pull-right text-muted">{{words.length}} 個の単語</span>
		</div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th width="10%">単語</th>
              <th width="10%">読み方</th>
              <th width="80%">意味</th>
              <th>Hits</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="w in words" ng-style="{'background-color': w.recites == 0 ? 'white' : 'lavenderblush'}">
			  <td><span editable-text="w.word" e-name="word" e-form="rowform" e-required e-ng-keypress="keypress($event, rowform)">{{w.word}}</span></td>
			  <td><span editable-text="w.phonetic" e-name="phonetic" e-form="rowform" e-ng-keypress="keypress($event, rowform)">{{w.phonetic ? '['+w.phonetic+ ']' : ''}}</span></td>
              <td><span editable-textarea="w.meaning" e-name="meaning" e-form="rowform" e-autoheight e-ng-keypress="keypress($event, rowform)">{{w.meaning}}</span><br/><img ng-src="/img/{{w.id}}" ng-if="w.img"></td>
              <td class="hits">{{w.hits}}</td>
              <td class="sn" style="white-space: nowrap">
				  <form editable-form name="rowform" onbeforesave="update($data, w.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="w == inserted">
					  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok"></span></button>
					  <button type="button" ng-disabled="rowform.$waiting" ng-click="cancel(rowform, $index)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                      <button class="btn btn-default btn-sm" disabled><span class="glyphicon glyphicon-picture"></span></button>
				  </form>
				  <div ng-show="!rowform.$visible">
					  <button class="btn btn-default btn-sm" ng-click="rowform.$show()"><span class="glyphicon glyphicon-pencil"></span></button>
					  <button class="btn btn-default btn-sm" ng-click="delete(w.id)"><span class="glyphicon glyphicon-trash"></span></button>
                      <button class="btn btn-default btn-sm" ng-click="upload(w.id)"><span ng-style="{'color': w.img ? 'tomato': 'black'}" class="glyphicon glyphicon-picture"></span></button>
				  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
