<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<title>如何使用背单词</title>
<link rel="stylesheet" href="/static/main.css" type="text/css"/>
</head>
<body> 
<div id="container">
<div style="padding-top:20px">
<span id="title">如何使用xdictweb单词本</span>
<pre><code>
1. 下载并安装<a href="http://xdictweb-dl.stor.sinaapp.com/xdict.crx">Xdictweb-For-Chrome</a>扩展。
2. 打开扩展的Options页面，将 <b>{{ accesskey }} </b>贴到其中的 Accesskey的文本框中并保存。
<center><img src="/static/where-to-paste.png"></img></center>
3. 使用扩展查询单词，现在你所查询每个单词都会记录到xdictweb的数据库中，访问 http://xdictweb.sinaapp.com 开始背单词吧。
</pre></code>
</div>
</body>
</html>
