<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<title>背单词</title>
<link rel="stylesheet" href="/static/main.css" type="text/css"/>
<script type="text/javascript">

// var EDITMODE = false;
var SHOWLIST = "list";

(function () {

var xdw = xdw || {};
xdw.debug = true;

xdw.fetchWordList = function (callback) {
    var xhr = new XMLHttpRequest;
    xhr.open("GET", "/api/" + SHOWLIST, true);
    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) try {
            console.log(JSON.parse(xhr.responseText));
            callback(JSON.parse(xhr.responseText));
        } catch (e) {
            console.log(e);
            callback(null);
        }
    };
    xhr.send()
};

window.deleteThis = function (id, obj) {
    var xhr = new XMLHttpRequest;
    xhr.open("GET", "/api/delete?id=" + id, true);
    xhr.timeout = 5000;
    xhr.ontimeout = function () { console.log('timeout'); window.initialize(); }
    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
            // WTF!
            var seq = obj.parentNode.nextSibling.textContent;
            var me = obj.parentNode.parentNode.parentNode.parentNode.parentNode;
            var pa = me.parentNode;
            pa.removeChild(me);

            var nodes = pa.getElementsByClassName('sn');
            for (var i = seq - 1; i < nodes.length; i++) {
                nodes[i].textContent = nodes[i].textContent - 1;
            }

            document.getElementById("tip").innerText = "共" + nodes.length + "个单词";
            //window.initialize()
            }
        }
    };
    xhr.send();
};

xdw.showEditColumn = function (show) {
    var e = document.getElementsByClassName("icon");
    if (show) {
        e[0].style.display = "block";
        for (var i = 1, l = e.length; i < l; i++) {
            e[i].style.display = "inline";
        }
    } else {
        for (var i = 0, l = e.length; i < l; i++) {
            e[i].style.display = "none";
        }
    }
};

window.initialize = function () {
    xdw.fetchWordList(function(a) {
        console.log(a);

        var p = '';
        var is_normal = (SHOWLIST == 'list');
        for (var i = 0, l = a.data.length; i < l; i++) {
            var d = a.data[i];
            if (d.recites !== 0)
                p += '<div class="row review"><table><tr>';
            else
                p += '<div class="row"><table><tr>';
            p += '<td class="icon"><a href="javascript:void(0);" onclick="deleteThis(' + d.id + ',this);"><img src="static/delete.png"></a></td>'
            var phonetic = (d.phonetic && d.phonetic.length) ? '[' + d.phonetic + ']' : '';
            p += '<td class="sn">' + (i+1) + '</td><td class="word">' + d.word + '</td><td class="phonetic">' + phonetic + '</td><td class="meaning">' + d.meaning + '</td><td class="hits">' + d.hits + '</td>'; //<td>' + d.update_time.split(' ')[0] + '</td>';
            p += '</tr></table></div>';
        }
        
        var e = document.getElementById("list");
        e.innerHTML = p; 

        xdw.showEditColumn(is_normal);

        document.getElementById("tip").innerText = "共" + a.data.length + "个单词";
    });
};


// window.toggleMode = function () {
//     if (SHOWLIST == 'list') {
//         EDITMODE = !EDITMODE;
//         xdw.showEditColumn(EDITMODE);
//         document.getElementById("edit").innerText = EDITMODE ? "背诵" : "编辑";
//     }
// };

window.onKeyPress = function () {
    // event.keyCode == 101 /* e */ && toggleMode()
    if (event.keyCode == 114 /* r */&& SHOWLIST != 'review') {
        SHOWLIST = 'review'; window.initialize();
    } else if (event.keyCode == 115 /* s */&& SHOWLIST != 'sy') {
        SHOWLIST = 'sy'; window.initialize();
    } else if (event.keyCode > 96 && event.keyCode < 123 && SHOWLIST != 'list') {
        SHOWLIST = 'list'; window.initialize();
    }
};

})();

</script>
</head>
<body onload="initialize()" onkeypress="onKeyPress()">
<div id="container">

<div style="padding-top:20px">
<span id="title">{{ name }}的单词本</span>
<span id="tip"></span>
<a id="edit" href="javascript:void(0);" onclick="toggleMode();">编辑</a>
</div>

<div id="head">
<table>
<tr><td class="icon"></td><td class="sn">No</td><td class="word">单词</td><td class="phonetic">音标</td><td class="meaning">词义</td><td class="hits">Hits</td>
</table>
</div>

<div id="list"></div>
</div>

<div id="footer">
<p><a href="/howto">HOWTO</a>&nbsp;| &nbsp;© Copyright 2011 &nbsp;&nbsp;Code in <a href="https://github.com/chanfung032/xdictweb">Github</a> By <a href="http://alanchan.sinaapp.com">Alan Chan</a></p>
</div>
</div>
</body>
</html>
